<hrml>
<head>
</head>
<body>
<form action="/merged-pdfs" method="POST" enctype="multipart/form-data">
<input type="file" value="Choose pdf file" accept="application/pdf" name="pdfinput" multiple>
<button type="submit">Upload</button> 
</body>
</html>